# Configuration for systems using systemd, starting from Ubuntu 15.10
#
# author: Cristian Consonni (cristian.consonni@unitn.it)

[Unit]
Description=uWSGI instance to serve cmsregistration
After=network.target

[Service]
User=cms
Group=www-data
WorkingDirectory=/data/cmsregistration/
RuntimeDirectory=cmsregistration
ExecStart=/data/cmsregistration/cmsregistration_venv/bin/uwsgi --ini cmsregistration.ini

[Install]
WantedBy=multi-user.target

